
@media (max-width: 991px) {

    /* Title Section */
    #title {
        text-align: center;
    }

    body .title-padding {
        padding: 3% 7%;
    }

    body .navbar-brand {
        font-size: 3.3rem;
    }

    body .navbar-toggler {
        width: 95.2px;
        height: 68px;
    }

    body .navbar-toggler-icon {
        font-size: 2.2rem;
    }

    .title-mobile-sizer {
        width: 75%;
        margin: 0 auto;
    }

    body .download-button {
        width: 400px;
        height: 85px;
        margin: 4% auto;
        font-size: 1.7rem;
    }
    
    body .title-img {
        position: static;
        transform: rotate(0);
        margin-top: 3%;
    }

    /* Features */
    body #features {
        padding: 7% 7%;
    }

    h3 {
        font-size: 2.8rem;
    }

    body .feature-text {
        font-size: 2rem;
    }

    /* Testimonials */
    body .carousel-item {
        padding: 7% 9%;
    }

    .control-left {
        position: absolute;
        left: 14%;
    }

    .control-right {
        position: absolute;
        right: 14%;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 15%;
}

.title-padding {
    padding: 3% 15% 7%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

/* Navigation Bar */

.navbar{
    margin-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    margin: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/* Download Buttons */

.download-button {
    margin: 7% 3% 5% 0;
    width: 250px;
    height: 60px;
}

/* Title Image */

.title-img {
    width: 300px;
    transform: rotate(25deg);
    position: absolute;
    right: 17%;
}

/* Features Section*/

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}
.icon {
    margin-bottom: 1rem;
    color: #ef8172;
}

.icon:hover {
    color: #ff4c68;
}

.feature-text {
    color: #8f8f8f;
    font-size: 1.4rem;
    font-weight: 500;
}

/* Testimonial Section */

.orange {
    background-color: #ef8172;
}

#testimonials {
    text-align: center;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Press Section */

#press{
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

.pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2% ;
}

.pricing-details {
    color: #8f8f8f;
    font-size: 1.4rem;
}

.pricing-button {
    font-size: 1.7rem;
    width: 70%;
    margin: 10px auto;
}